<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- To be replaced with your own stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://www.paypalobjects.com/webstatic/en_US/developer/docs/css/cardfields.css"/>
  <!-- Express fills in the clientId and clientToken variables -->
  <style>
    #paypal-button-container {
        width: 100%;
        color: aqua;
    }
  </style>
  <!-- TODO: DO NOT INCLUDE SKD FROM HERE BUT FroM NODE MODULE -->
  <script
    src="https://www.paypal.com/sdk/js?components=buttons,funding-eligibility&client-id=<%= clientId %>&enable-funding=paypal"
    data-client-token="<%= clientToken %>"
  ></script>
</head>
<body>
    <div id="paypal-button-container" class="paypal-button-container"></div>
    <!-- Add card fields here in step 5 -->
    <script src="app.js"></script>
  </body>
</html>